Package: flexipeehp-doc
Source: flexipeehp
Version: 1.8.9-0
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 6170
Suggests: www-browser
Section: doc
Priority: optional
Homepage: https://github.com/Spoje-NET/FlexiPeeHP
Description: PHP Based FlexiBee RestAPI/Json library documentation
 ApiGen html documentation for FlexiPeeHP php library
