composer.phar
/vendor/
composer.lock
/nbproject/private/
/docs/
/.vagrant/
/debian/flexipeehp-doc.debhelper.log
/debian/debhelper-build-stamp
/debian/flexipeehp
/debian/flexipeehp-doc
/deb/
/debian/php-flexibee/