language: php

php:
  - 5.6
  - 7.0
  - hhvm

sudo: false

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source
  
script:
  - ./vendor/bin/parallel-lint src testing
  - ./vendor/bin/phpunit --coverage-text --coverage-clover clover --bootstrap testing/bootstrap.php
  - composer require "squizlabs/php_codesniffer=*"
  - ./vendor/bin/phpcs src --standard=psr2 -sp

after_script:
  - ./vendor/bin/coveralls

