Source: flexipeehp
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/Spoje-NET/FlexiPeeHP

Package: flexipeehp
Depends: ${misc:Depends},php5-curl,ease-framework
Suggests: composer
Architecture: all
Section: web
Priority: optional
Description: PHP Based FlexiBee RestAPI/Json library
 Allow you read and write operations on czech accounting system FlexiBee
